@model PetShop.Models.Consulta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Valor): 
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Atividade): 
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Atividade)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Data): 
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Funcionarios.Nome): 
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Funcionarios.Nome)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Clientes.Nome): 
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Clientes.Nome)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Estoques.Nome):
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Estoques.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
